<h1>Users Page</h1>
<ul>
    <% for(let user of users) { %>
        <li class="fade-in"><%= user.name %></li>
    <% } %>
</ul>

<form action="/users">
    <label>
        Username
        <input type="text" name="name" required>
    </label>
    <button>Add User</button>
    <div class="loading-indicator">Is Loading</div>
</form>
